@import "../../.cache/wal/colors-waybar.css";

* {
    font-size: 16px;
    font-family: "Ndot55";
	border-radius: 8px;
}

window {
	background-color: rgba(0, 0, 0, 0);
}

button {
    color: @foreground;
    background-color: rgba(0,0,0,0.42);
    outline-style: none;
    border: none;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    margin: 6px;
    transition: background-color 160ms ease, background-size 160ms ease;
}

button:hover,
button:focus {
    color: @foreground;
    background-color: alpha(@color13, 0.34);
    background-size: 46%;
}

#logout {
	background-image: image(url("icons/logout.png"));
}

#suspend {
	background-image: image(url("icons/suspend.png"));
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	background-image: image(url("icons/reboot.png"));
}
